<p>about works!</p>
<p *ngIf="joke">{{ joke.value }}</p>

<audio controls>
  <source src="assets/audio/audio.mp3" type="audio/mpeg" controls="controls" autoplay>
</audio>

<img src="assets/img/antoha.jpg" alt="antoha">
